* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #999;
    font-family: 'Titillium Web', sans-serif;
}


body {
    background-image: url("images/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

img {
    opacity: 0.4;
}

header {
    text-align: center;
    margin: 40px auto 0;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}

.column {
    margin: 0 70px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    margin: 25px auto 10px;
}

.box {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    width: 420px;
}

form {
    background-color: #fefefe;
    border-radius: 5px;
    padding: 0 20px 20px;
}

input, textarea, select {
    width: 100%;
    margin-top: 20px;
    height: 40px;
    padding: 0 80px;
    outline: none;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
}

textarea {
    overflow: hidden;
    resize: none;
    height: 230px;
    padding: 10px;
}

input::placeholder, textarea::placeholder{
    color: #999;
}

input[name="username"] {background: url("images/user.png") no-repeat 17px, url("images/vertical-line.png") no-repeat 58px}
input[type="password"] {background: url("images/password.png") no-repeat 17px, url("images/vertical-line.png") no-repeat 58px}
input[type="email"] {background: url("images/email.png") no-repeat 17px, url("images/vertical-line.png") no-repeat 58px}
input[type="tel"] {background: url("images/phone.png") no-repeat 21px, url("images/vertical-line.png") no-repeat 58px}
select{background: url("images/location.png") no-repeat 22px, url("images/vertical-line.png") no-repeat 58px}

.checkbox-wrapper {
    display: flex;
    margin: 10px 0;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    margin: 3px;
    padding: 1px;
}

input[type="checkbox"]:checked {
    background: url("images/checked.png") no-repeat;
    background-size: 16px 16px;
    background-position: 2.5px;
}

p {
    margin: 1px 10px;
}

button {
    width: 100%;
    background-color: #8DC440;
    background-image: -moz-linear-gradient(1deg, #8DC440 0%, #719e35 100%);
    background-image: -webkit-linear-gradient( 270deg, #7ec31f 0%, #719e35 100%);
    border-radius: 3px;
    color: white;
    height: 45px;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

button:hover {
    outline: none;
    background-color: #60862E;
    transition: 0.1s;
}

button:active {
    border: 2px solid #364212;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0;
}

.smallButton {
    width: 45%;
    font-size: 18px;
}

.redButton {
    background-color: #F24458;
}

button:disabled {
    background-color: rgba(141, 196, 64, 0.5);
    cursor: not-allowed;
}

#logoBottom {
    margin: 80px auto;
}